.userTable {
    background: linear-gradient(0deg,
            #ffffff 0%,
            #4695cd 85%);
    padding-top: 6rem;
    font-family: Lora sans-serif;
}

.user-tbody {
    vertical-align: middle;
}

.userTable h1 {
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}